/* 
Name: Emily Zhu
Class: Honors Comp Sci Period 7
Date: 9.11.20
*/

body {
  font-family: Helvetica, Arial, sans-serif;

  background-image: url('backgroundimg.jpg'); /* create image for background */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: rgb(215, 247, 247);
  font-size: 60 px;
  text-align: center;
}

h2 {
  color: cornflowerblue;
  font-size: 150%
}

h3 {
  color: white;
  text-indent: 10px; /* match iframe indentation */
}

p {
  color: rgb(2, 140, 186);
}

p.paragraphblue {
  color: steelblue; /* special color for certain paragraph elements */
}

pre {
  color: slategray;
  font-family: Helvetica;
}

#imgnormal {
  width: 576px;
  height: 368px;
}

a:link {
  color: rgb(10, 156, 161);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(5, 132, 179);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(149, 171, 237);
  background-color: transparent;
  text-decoration: underline;
}

button.tutorial { /* buttons in the table needed special formatting */
  background-color: white;
  border: 2px solid rgb(128, 166, 255);
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
}

button {
  background-color: white;
  border: 2px solid rgb(128, 166, 255);
  color: black;
  padding: 14px 40px;
  text-align: center;
  font-size: 14px;
  border-radius: 8px;
  margin: auto; /* For centering */
  display: block; /* For centering */
}

button:hover {
  background-color: rgb(128, 166, 255);
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(192, 237, 230);
}

li.navigate { /* align navigation items left */
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(235, 245, 243);
}

iframe {
  border: 2px solid rgb(173, 173, 173);
  width: 500px;
  height: 300px;
}

li.check { /* for checklist items */
  float: center;
  color: rgb(85, 184, 237);
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding: 5px;
  color: rgb(65, 91, 171);
}

th {
  text-align: left;
}

caption {
  color: rgb(52, 120, 112);
  font-size: 120%
}

/* for the image gallery at the end */
* { 
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(121, 205, 247, 0.8);
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Four columns side by side */
.column {
  float: left;
  width: 25%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img {
  width: 100%;
}

